---
layout: 'base.njk'
header-class-mobile: im-bruckle-mobile
header-id-mobile: im-bruckle-arrow
---

<header class="mobile">
    <nav>
        <input type="checkbox" id="ch-header">
        <label for="ch-header">
            <p class="im-bruckle-mobile" id="im-bruckle-arrow">Im Brückle <span class="arrow">&#8595;</span></p>
        </label>
        <div id="more-header">
            <ul role="list">
                <li class="hofladle-mobile"><a href="/hofladle">Hoflädle</a></li>
                <li class="brennerei-mobile"><a href="/brennerei">Brennerei</a></li>
                <li class="weinlaube-mobile"><a href="/weinlaube">Weinlaube</a></li>
                <li class="kontakt-mobile"><a href="/kontakt">Kontakt</a></li>
                <li class="social-mobile">
                    <a href="#"><img src="/assets/img/ig.svg" alt="Instagram logo"></a>
                    <a href="#"><img src="/assets/img/fb.svg" alt="Facebook logo"></a>
                    <a href="#"><img src="/assets/img/yt.svg" alt="Youtube logo"></a>
                </li>
            </ul>
        </div>  
    </nav>
</header>
<header class="mobile-hide">
    <nav>
        <ul class="menu" role="list">
            <li id="im-bruckle-active"><a href="#">Im Brückle</a></li>
            <li id="hofladle"><a href="/hofladle">Hoflädle</a></li>
            <li id="brennerei"><a href="/brennerei">Brennerei</a></li>
            <li id="weinlaube"><a href="/weinlaube">Weinlaube</a></li>
            <li id="kontakt"><a href="/kontakt">Kontakt</a></li>
            <li id="social">
                <a href="#"><img src="/assets/img/ig.svg" alt="Instagram logo"></a>
                <a href="#"><img src="/assets/img/fb.svg" alt="Facebook logo"></a>
                <a href="#"><img src="/assets/img/yt.svg" alt="Youtube logo"></a>
            </li>
        </ul>
    </nav>
    <label for="header-mobile"></label>
</header>
<div class="home-index">
    <div class="intro">
        <p class="mobile-hide"><strong>Im Brückle</strong></p>
        <p>Herzlich Willkommen im Brückle. Wir sind das erste Bio-Weingut in Gerlingen und betreiben den Weinbau nun schon in der dritten Generation. Im Jahr 2011 haben wir den Betrieb umgestellt und konnten im Herbst 2014 den ersten Bio-Wein ernten. So können Sie bei uns in der Weinlaube verschiedene Weine, Traubensaft und Sekt in Bio-Qualität genießen. Auch unsere Obstanlagen sind auf den biologischen Landbau umgestellt. Die daraus entstehenden Obstbrände stammen aus der eigenen Brennerei und werden ebenfalls in der Weinlaube ausgeschenkt.</p>
    </div>
    <div class="images">
        <img class="vt" src="/assets/img/01_im_brueckle/01_im_brueckle_01.jpeg" alt="">
        <img class="ht" src="/assets/img/01_im_brueckle/01_im_brueckle_02.jpg" alt="">
        <img class="vt" src="/assets/img/01_im_brueckle/01_im_brueckle_03.jpeg" alt="">
        <img class="vt" src="/assets/img/01_im_brueckle/01_im_brueckle_04.jpeg" alt="">
        <img class="ht" src="/assets/img/01_im_brueckle/01_im_brueckle_05.jpeg" alt="">
        <img class="ht" src="/assets/img/01_im_brueckle/01_im_brueckle_06.jpg" alt="">
        <img class="vt" src="/assets/img/01_im_brueckle/01_im_brueckle_07.jpeg" alt="">
    </div>
    <div class="mobile nach-oben">
        <a onclick="scrollToTop()">nach oben &#8593;</a>
    </div>
    <footer>
        <p>
            Weinlaube Im Brückle
            <br>Familie Michael Volz
            <br>Im Brückle 3
            <br>70839 Gerlingen
            <br>Telefon 07156-22246
            <br><br><a href="impressum.html">Impressum, Datenschutz</a>
        </p>
    </footer>
</div>
