<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="/assets/script.js"></script>
</head>
<body>
    <header class="mobile">
        <input type="checkbox" id="ch-header">
        <label for="ch-header">
            <div id="brennerei-arrow">
                <p class="brennerei-mobile">{{ title }} <span class="arrow" onClick="toggleArrow()">&#8595;</span></p>
            </div>
        </label>
        <div id="more-header">
            <ul role="list">
                <li class="im-bruckle-mobile"><a href="/">Im Brückle</a></li>
                <li class="hofladle-mobile"><a href="/hofladle">Hoflädle</a></li>
                <li class="weinlaube-mobile"><a href="/weinlaube">Weinlaube</a></li>
                <li class="kontakt-mobile"><a href="/kontakt">Kontakt</a></li>
                <li class="social-mobile">
                    <a href="#" class="instagram"></a>
                    <a href="#" class="facebook"></a>
                    <a href="#" class="youtube"></a>
                </li>
            </ul>
        </div>  
    </header>
    <header class="mobile-hide">
        <nav>
            <ul class="menu">
                <li id="im-bruckle"><a href="/">Im Brückle</a></li>
                <li id="hofladle"><a href="/hofladle">Hoflädle</a></li>
                <li id="brennerei-active"><a href="#">Brennerei</a></li>
                <li id="weinlaube"><a href="/weinlaube">Weinlaube</a></li>
                <li id="kontakt"><a href="/kontakt">Kontakt</a></li>
                <li id="social">
                    <a href="#" class="instagram"></a>
                    <a href="#" class="facebook"></a>
                    <a href="#" class="youtube"></a>
                <li id="impressum"><a href="/impressum">Impressum und Datenschutz</a></li>
                </li>
            </ul>
        </nav>
    </header>
    <div class="home-brennerei">
        <div class="intro">
        {{ content | safe }}
        </div>
        <div class="mobile nach-oben">
            <a onclick="scrollToTop()">nach oben &#8593;</a>
        </div>
        <footer>
            <p>
                Weinlaube Im Brückle
                <br>Familie Volz
                <br>Im Brückle 3
                <br>70839 Gerlingen
                <br>Telefon 07156-22246
                <br><br><a href="/impressum">Impressum, Datenschutz</a>
            </p>
        </footer>
    </div>
</body>
</html>
