@font-face {
    font-family: 'Brückle';
    src: url('type/brückleVAR.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuissleIntl-Medium';
    src: url('type/SuisseIntl-Medium.otf');
    font-weight: light;
    font-style: light;
}

@font-face {
    font-family: 'SuissleIntl-Bold';
    src: url('type/SuisseIntl-Bold.otf');
    font-weight: bold;
    font-style: bold;
}

/*ROOT*/
:root {
    --fontsizeXS: .7em;
    --fontsizeS: 1.1em;
    --fontsizeM: 1.4em;
    --padding: 0.2rem;
    --black: #000;
    --white: #fff;
    --text-color: var(--white);
    --bodyFont: 'SuissleIntl-Medium', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none; /* hide scrollbar for Internet Explorer, Edge */
    scrollbar-width: none; /* hide scrollbar for Firefox */
    -webkit-font-smoothing: antialiased;
    overscroll-behavior: none;
}

*,:after,:before {
    -moz-box-sizing: content-box;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none; /* hide scrollbar for Chrome, Safari, and Opera */
}

::selection {
    color: var(--black);
    background-color: var(--white);
}

ul:where([role="list"]),
ol:where([role="list"]) {
    list-style:none;
    margin:0;
    padding:0;
}

a {
    text-decoration: underline;
    color: inherit;
}

html body {
    font-family: var(--bodyFont);
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    font-weight: normal;
    font-kerning: normal;
    line-height: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}

header,
.nach-oben {
    font-family: 'Brückle';
    font-stretch: 1%;
    font-weight: 300;
    white-space: nowrap;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    width: 33.4%;
    overflow-y: scroll;
    container-type: inline-size;
    text-align: center;
}

.menu li {
    flex-grow: 1;
    flex-shrink: 1;
    align-content: center;
    line-height: .8;
    padding-top: 22px;
}

.menu li span {
    line-height: .1;
}

.menu li a {
    text-decoration: none;
}


[class*='home'] {
    overflow-y: scroll;
    font-size: var(--fontsizeM);
    width: 100%;
    padding-left: 33.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-index {
    background: rgb(233, 175, 220);
}

.main-hofladle {
    background-color: rgb(93, 144, 214);
    font-size: var(--fontsizeM);
    width: 100%;
    padding-left: 33.4%;
}

.home-brennerei {
    background: rgb(255, 157, 82);
}

.home-kontakt {
    background: rgb(182, 121, 206);
}

.home-kontakt .intro {
    height: 100vh;
    height: 100dvh;
}

.home-impressum {
    background: rgb(252, 223, 140);
    font-size: 1em;
}

.home-weinlaube {
    background: rgb(64, 182, 135);
}

.home-impressum [class*='intro'] {
    display: flex;
    gap: 10px;
}

.impressum, .datenschutz {
    flex: 1 1 0%;
}

.list {
    width: 50%;
    padding-top: 10px;
    padding-left: 10px;
    position: sticky;
    float: left;
    top: 0;
    height: 920px;
    box-sizing: border-box;
}

.food {
    padding-left: 50%;
    scroll-behavior: smooth;
}

.food div {
    padding: 10px;
}

#honig {
    background: rgb(250, 210, 105);
}

#frucht {
    background: rgb(65, 180, 135);
}

#wurst {
    background: rgb(225, 80, 80);
}

#walnusse {
    background: rgb(140, 195, 100);
}

#backwaren {
    background: rgb(240, 160, 210);
}

#rotwein {
    background: rgb(200, 105, 190);
}

#weißwein {
    background: rgb(145, 220, 170);
}

#schillerwein {
    background: rgb(140, 200, 100);
}

#sekt {
    background: rgb(180, 120, 205);
}

#saft {
    background: rgb(250, 120, 75);
}

#most {
    background: rgb(250, 225, 140);
}

#likor {
    background: rgb(235, 175, 220);
}

#schnaps {
    background: rgb(250, 180, 100);
}

li a {
    text-decoration: none;
}

.intro {
    padding: 10px;
}

.image {
    text-align: center;
    padding: 10px 10px 0 10px;
}

.img {
    width: 100%;
}

.images {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 50px 0 200px 0;
}

.vt {
    width: 50%;
}

.ht {
    width: 75%;
}

.nach-oben {
    background: rgb(225, 80, 80);
    font-size: clamp(1rem, 28.7cqi, 10rem);
    line-height: 1;
    text-align: center;
    padding-top: 12px;
}

.nach-oben a {
    text-decoration: none;
}

label {
    cursor: pointer;
}

[id*='label'] {
    text-decoration: underline;
}

#ch1,
#ch2,
#ch3,
#ch-header {
    display: none;
}

#ch1:checked ~ #more1,
#ch2:checked ~ #more2,
#ch3:checked ~ #more3 {
    display: block;
}

#ch1:checked ~ #label1,
#ch2:checked ~ #label2,
#ch3:checked ~ #label3 {
    display: none;
}

#more1,
#more2,
#more3 {
    display: none;
}

#more-header {
    height: 0;
    overflow-y: auto;
    transition: all .5s cubic-bezier(.93, .88, .1, .8);
}

#ch-header:checked ~ #more-header {
    display: block;
    transition: all .5s cubic-bezier(.93, .88, .1, .8);
    height: calc(100vh - 90px);
}

header {
    width: 100%;
    box-sizing: border-box;
}

footer {
    background: rgb(180, 228, 110);
    padding: 10px;
    margin: 0;
    position: relative;
    z-index: 998;
}

footer p {
    font-size: var(--fontsizeXS);
}

#im-bruckle {
    background: rgb(140, 197, 98);
    font-size: clamp(1rem, 32.5cqi, 12rem);
}

.im-bruckle-mobile {
    background: rgb(140, 197, 98);
    font-size: clamp(1rem, 32.5cqi, 13rem);
    text-align: center;
    line-height: .8;
    padding-top: 15px;
}

#im-bruckle-arrow .im-bruckle-mobile {
    font-size: clamp(1rem, 26.5cqi, 11rem);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.hofladle-mobile {
    background: rgb(252, 210, 104);
    font-size: clamp(1rem, 44cqi, 14rem);
    text-align: center;
    line-height: .8;
    padding-top: 15px;
}

#hofladle-arrow .hofladle-mobile {
    font-size: clamp(1rem, 26.5cqi, 11rem);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.brennerei-mobile {
    background: rgb(225, 81, 82);
    font-size: clamp(1rem, 41cqi, 14rem);
    text-align: center;
    line-height: .8;
    padding-top: 15px;
}

#brennerei-arrow .brennerei-mobile {
    font-size: clamp(1rem, 26.5cqi, 11rem);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.weinlaube-mobile {
    background: rgb(160, 198, 228);
    font-size: clamp(1rem, 38cqi, 14rem);
    text-align: center;
    line-height: .8;
    padding-top: 15px;
}

#weinlaube-arrow .weinlaube-mobile {
    font-size: clamp(1rem, 26.5cqi, 11rem);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.kontakt-mobile {
    background: rgb(248, 118, 73);
    font-size: clamp(1rem, 52cqi, 14rem);
    text-align: center;
    line-height: .8;
    padding-top: 15px;
}

#kontakt-arrow .kontakt-mobile {
    font-size: clamp(1rem, 26.5cqi, 11rem);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.arrow.active {
    rotate: 180deg;
    transform: translate(0, 10px);
}

.social-mobile {
    background: rgb(238, 181, 102);
    font-size: clamp(1rem, 25cqi, 9rem);
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    line-height: .8;
    display: flex;
    gap: 20px;
    align-items: center;
}

#im-bruckle-active,
#im-bruckle:hover {
    background: rgb(130, 100, 190);
    font-size: clamp(1rem, 32.5cqi, 12rem);
}

#hofladle {
    background: rgb(252, 210, 104);
    font-size: clamp(1rem, 44cqi, 15.5rem);
}

#hofladle-active,
#hofladle:hover {
    background: rgb(249, 154, 222);
    font-size: clamp(1rem, 44cqi, 15.5rem);
}

#brennerei {
    background: rgb(225, 81, 82);
    font-size: clamp(1rem, 41cqi, 14.5rem)
}

#brennerei-active,
#brennerei:hover {
    background: rgb(89, 111, 198);
    font-size: clamp(1rem, 41cqi, 14.5rem)
}

#weinlaube {
    background: rgb(160, 198, 228);
    font-size: clamp(1rem, 38cqi, 15rem);
}

#weinlaube-active,
#weinlaube:hover {
    background: rgb(201, 102, 174);
    font-size: clamp(1rem, 38cqi, 15rem);
}

#kontakt {
    background: rgb(248, 118, 73);
    font-size: clamp(1rem, 52cqi, 18.2rem);
    padding-top: 25px;
}

#kontakt-active,
#kontakt:hover {
    background: rgb(146, 222, 169);
    font-size: clamp(1rem, 52cqi, 18.2rem);
    padding-top: 25px;
}

#social {
    background: rgb(238, 181, 102);
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

#social a,
.social-mobile a {
    width: 50px;
}

#impressum {
    background: rgb(180, 120, 205);
    font-size: clamp(1rem, 14cqi, 8rem);
    padding-top: 10px;
    line-height: 1;
}

#impressum-active,
#impressum:hover {
    background: rgb(93, 144, 214);
    font-size: clamp(1rem, 14cqi, 8rem);
    padding-top: 10px;
    line-height: 1;
}

@media screen and (min-width: 0px) and (max-width: 599px) {
    .destination {
        scroll-margin-top: 23vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .destination {
        scroll-margin-top: 19vw;
    }
}

/*Disable smooth scrolling when users have prefers-reduced-motion enabled*/
 @media screen and (prefers-reduced-motion: reduce) {
	html, .food {
		scroll-behavior: auto;
	}
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    header {
        position: sticky;
        top: 0;
        z-index: 999;
        background: rgb(238, 181, 102);
    }
    [class*='home'] {
        overflow: scroll;
        font-size: var(--fontsizeM);
        width:100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    footer p {
        font-size: 1em;
    }
    .mobile-hide {
        display: none;
    }
    .images {
        gap: 50px;
        padding: 50px 0 50px 0;
    }
    .vt, .ht {
        width: 80%;
    }
    .menu {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        width: 100%;
        overflow-y: scroll;
        container-type: inline-size;
    }
    .home-impressum [class*='intro'] {
        display: block;
    }
    .home-impressum {
        font-size: var(--fontsizeS);
        display: flex;
    }
    .main-hofladle {
        overflow: scroll;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .list {
        position: relative;
        width: 100%;
        padding: 10px;
        height: auto;
    }
    
    .food {
        scroll-behavior: smooth;
        padding-left: 0;
        width: 100%;
    }
}

@media screen and (min-width: 801px) {
    .mobile {
        display: none;
    }
}
