---
title: Im Brückle - Kontakt
layout: 'base.njk'
---

<header class="mobile">
    <input type="checkbox" id="ch-header">
    <label for="ch-header">
        <div id="kontakt-arrow">
            <p class="kontakt-mobile">Kontakt <span class="arrow" onClick="toggleArrow()">&#8595;</span></p>
        </div>
    </label>
    <div id="more-header">
        <ul role="list">
            <li class="im-bruckle-mobile"><a href="/">Im Brückle</a></li>
            <li class="hofladle-mobile"><a href="/hofladle">Hoflädle</a></li>
            <li class="brennerei-mobile"><a href="/brennerei">Brennerei</a></li>
            <li class="weinlaube-mobile"><a href="/weinlaube">Weinlaube</a></li>
            <li class="social-mobile">
                <a href="#"><img src="/assets/img/ig.svg" alt="Instagram logo"></a>
                <a href="#"><img src="/assets/img/fb.svg" alt="Facebook logo"></a>
                <a href="#"><img src="/assets/img/yt.svg" alt="Youtube logo"></a>
            </li>
        </ul>
    </div>  
</header>
<header class="mobile-hide">
    <nav>
        <ul class="menu">
            <li id="im-bruckle"><a href="/">Im Brückle</a></li>
            <li id="hofladle"><a href="/hofladle">Hoflädle</a></li>
            <li id="brennerei"><a href="/brennerei">Brennerei</a></li>
            <li id="weinlaube"><a href="/weinlaube">Weinlaube</a></li>
            <li id="kontakt-active"><a href="#">Kontakt</a></li>
            <li id="social">
                <a href="#"><img src="/assets/img/ig.svg" alt="Instagram logo"></a>
                <a href="#"><img src="/assets/img/fb.svg" alt="Facebook logo"></a>
                <a href="#"><img src="/assets/img/yt.svg" alt="Youtube logo"></a>
            <li id="impressum"><a href="/impressum">Impressum und Datenschutz</a></li>
            </li>
        </ul>
    </nav>
</header>
<div class="home-kontakt">
    <div class="intro">
        <p><strong>Newsletter</strong></p>
        <p>
            Um sich für unseren Newsletter anzumelden, schreiben Sie uns bitte eine Mail an <a rel="norefferer" href="mailto:newsletter@imbrueckle.de" target="_blank">newsletter(at)imbrueckle.de</a>
        </p>
        <br>
        <p><strong>Weinlaube im Brückle<br>Familie Michael Volz</strong></p>
        <p>
            Im Brückle 3
            <br>70839 Gerlingen
            <br>Telefon 07156-22246
        </p>
        <br>
        <p><strong>Anfahrt Auto</strong></p>
        <p>
            A81 Ausfahrt Ditzingen nach Gerlingen
            <br><br>Gerlingen wieder verlassen in Richtung Leonberg
            <br><br>nach dem Ortsschild einer der
            <br>Aussiedlerhöfe auf der rechten Seite.
        </p>
        <br>
        <p><strong>Bahn und Bus</strong></p>
        <p>
            Stadtbahn U6 bis Endhaltestelle Gerlingen, dann mit Stadtbus Richtung Leonberg, Haltestelle Ringstraße, weiter zu Fuß ca. 10 Minuten. kommen Sie zu uns:
        </p>
    </div>
    <div class="mobile nach-oben">
        <a onclick="scrollToTop()">nach oben &#8593;</a>
    </div>
    <footer>
        <p>
            Weinlaube Im Brückle
            <br>Familie Michael Volz
            <br>Im Brückle 3
            <br>70839 Gerlingen
            <br>Telefon 07156-22246
            <br><br><a href="/impressum">Impressum, Datenschutz</a>
        </p>
    </footer>
</div>
